#hbar-wrap {
    margin-top: 7px;
}

#apps-icon {
    width: 20px;
    margin-top: 3px;
    margin-left: 20px;
}

#logo {
    height: 92px;
    width: 272px;
    padding-top: 109px;
    width: "272";
}

#logo-top-section {
    height: 233px;
    margin-top: 89px;
}

#search-wrap {
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    width: 482px;
    margin: 0 auto;
}

#search-wrap:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(233,255,229,0);
}

#search-box {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 5px 8px 0px 16px;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

#search-form {
    display: flex;
    flex: 100%;
    height: 34px;
}

#buttons-wrap {
    padding-top: 18px;
    top: 53 px;
    z-index: 0;
    width: 487px;
}

.mag-icon-wrap {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.mic-icon-wrap {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    border: 0;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
    margin-top: -5px;
}

.search-icon {
    display: flex;
    margin: auto;
}

.icon:hover {
    cursor: pointer;
}

#mic-icon {
    width: auto;
    height: 20px;
}

#mag-glass-icon {
    height: 14px;
    width: 14px;
}

#fbar-wrap {
    margin-top: 7px;
}

#bar-l {
    margin-left: 30px;
    float: left;
}

#bar-r {
    margin-right: 30px;
    float: right;
}

.circle {
    background-color: #FFC0CB;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 20px;
    float: right;
    font-size: 20px;

    text-align: center;
    text-justify: start;
}

.bar {
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 40px;
    min-width: 980px;
    max-height: 45px;
}

.hbar {
    top: 20px;
    align-items: center;
}

.input {
    border-width: 0px;
    box-shadow: none;
    display: flex;
    color: rgba(0,0,0,.87);
    flex: 100%;
    margin: 0;
    padding: 0;
    font: 16px arial,sans-serif;
    height: 34px !important;
    line-height: 34px;
}

.input:focus {
    outline: none;
}

.button {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 11px 4px;
    box-shadow: none;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #5f6368;
    outline: none;
}

.button:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.fbar {
    bottom: 0px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.right {
    margin-right: 0;
    margin-left: 20px;
}

.left {
    margin-left: 0;
    margin-right: 20px;
}

.link {
    color: #5f6368;
    text-decoration: none;
    white-space: nowrap;
}

.link:hover {
    text-decoration: underline;
}

div {
    display: block;
}

body {
    font-family: Arial, sans-serif;
}

center {
    text-align: -webkit-center;
}

